body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
}
h2 {
    font-weight:bold;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;

}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

h3{
  color: #11999E;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

p {
    font-family: sans-serif;
    font-style: normal;
}

.bottom-cloud {
    position: absolute;
    left:300px;
}

.top-cloud {
    position: relative;
    left: 300px;
}

.soft {
    text-decoration: underline;
}

.sofware {
    border-radius: 50%;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
    margin: 0;
}

.middle-container {
}
.skills{
  padding: 0 50px 20px 50px;
}
.skill{
  margin:0;
  padding: 0;
}
.cooking {
  height:200px;
  border-radius: 80%;
  width: 200px;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;

}
.skill-row{
  width: 50%;
  margin:80px auto 80px auto;
  text-align: left;
  line-height: 2;
}
.html {
  height:200px;
  border-radius: 80%;
  width: 200px;
  float:left;
  margin-right: 30px;
}
.photo{
  border-radius: 80%;
  width: 200px;
  height: 200px;
}

.contact-me {
    padding: 0 0 50px 0;
}

.profile {
    padding:50px 0 0 0;
}
.footer-link{
  color: #94ebcd;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:80px auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
